<h1>Movies</h1>

<form id="search-form" asp-controller="Movies" asp-action="Index" method="get">
    <div class="d-flex flex-row mt-4 mb-2 align-items-center">
        <div class="col-0">
            <select [(ngModel)]="model.search[0].value" [ngModelOptions]="{standalone: true}" id="genre-filter" multiples="multiples" class="select2-genre" style="width:200px">
                <option value="">All Genres</option>
                <option *ngFor="let genre of genres">{{genre}}</option>
            </select>
        </div>
        <div class="input-group col-3">
            <input [(ngModel)]="model.search[1].value" [ngModelOptions]="{standalone: true}" type="text" id="title-filter" asp-for="SearchString" class="form-control border-0 small" placeholder="Movie..." />
            <input type="submit" id="search-button" value="Filter" (click)="paginate()" class="btn btn-primary" />
        </div>
    </div>
</form>

<a asp-action="Create" class="btn btn-primary btn-icon-split mb-3">
    <span class="icon text-white-50">
      <fa-icon [icon]="faPlus"></fa-icon>
    </span>
    <span routerLink="/movies/create" class="text">Add Movie</span>
</a>

<table class="table table-striped border">
    <thead>
        <tr>
            <th data-field="title">Title</th>
            <th data-field="releaseDate" data-formatter="dateFormat">Release Date</th>
            <th data-field="genreName">Genre</th>
            <th data-field="">Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.title}}</td>
        <td>{{movie.releaseDate | date:"dd/MM/yyyy"}}</td>
        <td>{{movie.genreName}}</td>
        <div style="display: flex; gap: 10px">
            <a class="remove" routerLink="#" title="Remove">
             <fa-icon [icon]="faTrashCan"></fa-icon>
            </a>
            <a class="edit" routerLink="/movies/edit/{{movie.id}}" title="Edit">
              <fa-icon [icon]="faPencil"></fa-icon>
            </a>
            <a class="details" routerLink="/movies/details/{{movie.id}}" title="Details">
              <fa-icon [icon]="faEye"></fa-icon>
            </a>
            <a class="like" routerLink="#" title="Like">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
        </div>
      </tr>
    </tbody>
</table>

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to remove this movie?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Yes" below if you want to remove this movie.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                <form id="deleteMovie" method="post">
                    <input type="hidden" id="delete-movie-id" name="id" value="" />
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
