@model MvcMovie.Models.UserViewModel

@{
    Layout = "/Views/Shared/App/_Layout.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edit account</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="edit-user-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="id-user" value="@Model.Id"/>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" id="username" class="form-control" minlength="2" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Cancel</span>
    </a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function submitUserForm(e) {
                var formData = new FormData(document.getElementById("edit-user-form"));

                var username = formData.get("Username");
                var email = formData.get("Email");
                var id = formData.get("Id");

                var data = {
                    id: id,
                    username: username,
                    email: email,
                    password: "password"
                };

                $.ajax({
                    url: 'https://localhost:7022/User/Edit',
                    type: 'POST',
                    contentType: 'application/json-patch+json',
                    data: JSON.stringify(data),
                    success: function () {
                        alert("Account editted successfully!")
                        window.location.href = 'https://localhost:7233/User/Index';
                    },
                    error: function () {
                        alert("An error occurred...");
                        window.location.href = 'https://localhost:7233/User/Index';
                    }
                });
            }

            $('#edit-user-form').on('submit', function (event) {
                event.preventDefault();
                var form = document.getElementById("edit-user-form");
                if (form.checkValidity())
                    submitUserForm(event);
            });

            var token = localStorage.getItem('token');
            var data = {
                token: token
            };

            $.ajax({
                url: `https://localhost:7022/User/GetUserByToken?token=${token}`,
                method: 'POST',
                dataType: 'json',
                data: data,
                success: function (response) {
                    document.getElementById('username').setAttribute('value', response.username);
                    document.getElementById('email').setAttribute('value', response.email);
                },
                error: function (xhr, status, error) {
                    alert("Error on loading your data...");
                }
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
