@model MvcMovie.Models.UserViewModel
@{
    Layout = "/Views/Shared/App/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<div>
    <div class="d-flex align-items-center" style="gap: 15px">
        <img src="~/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg" class="img-profile rounded-circle"
             style="height: 5rem; width: 5rem;" />
        <div class="d-flex align-items-center" style="gap:10px">
            <h1 id="username"></h1>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-light btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10" id="email">
        </dd>
        <dt class = "col-sm-2">
            Account ID
        </dt>
        <dd class = "col-sm-10" manifest="id">
        </dd>
    </dl>
</div>
<div class="d-flex" style="gap: 10px;">
    <a href="@Url.Action("Index", "Movies")" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-home"></i>
        </span>
        <span class="text">Movies</span>
    </a>
    <a class="btn btn-danger btn-icon-split" href="#" title="Remove" onclick="deleteMovie(@Model.Id)" data-toggle="modal" data-target="#deleteConfirmModal">
        <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
        </span>
        <span class="text">Delete Account</span>
    </a>
</div>


<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete your account?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Yes" below if you want to delete your account.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                <form asp-controller="User" asp-action="Remove" method="post">
                    <input type="hidden" id="account-id" name="id" value="" />
                    <button type="submit" class="btn btn-primary" href="@Url.Action("Login", "User")">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function deleteMovie(id) {
            $('#account-id').val(id);
        }

        

        $(document).ready(function () {
            var token = localStorage.getItem('token');
            var data = {
                token: token
            };

            $.ajax({
                url: 'https://localhost:7022/User/GetUserByToken',
                method: 'POST',
                dataType: 'json',
                data: data,
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (response) {
                    alert("boas");
                    document.getElementById('username').innerHTML = response.name;
                    document.getElementById('email').innerHTML = response.email;
                    document.getElementById('id').innerHTML = response.id;
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    </script>
}
